<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>559009482716-k0bktltjctkmoppa2ul6ebof20rcq7mb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559009482716-k0bktltjctkmoppa2ul6ebof20rcq7mb</string>
	<key>API_KEY</key>
	<string>AIzaSyCt_5douRGRW8MWY0f1fUn9bmFZYq52PD0</string>
	<key>GCM_SENDER_ID</key>
	<string>559009482716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.calebdavis.Meet-Me</string>
	<key>PROJECT_ID</key>
	<string>meet-me-9acd2</string>
	<key>STORAGE_BUCKET</key>
	<string>meet-me-9acd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:559009482716:ios:091888cd883fed6f</string>
	<key>DATABASE_URL</key>
	<string>https://meet-me-9acd2.firebaseio.com</string>
</dict>
</plist>